@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="display-4 text-center titletxt">Job Hazard Analysis Portal</h1>
<hr />
<div class="colcontainer">
    <div class="leftcol">
        <h1 class="titletxt text-center">Tasks</h1>
        <hr />
        @foreach (var name in Model.hazards)
        {
            <div class="namecard text-center fontbebas" onclick="displayTaskInfo('@name.Name', '@name.Steps', '@name.Consequences', '@name.Controls', '@name.Training', '@name.Equipment')"
                 onmouseover="highlight(this)" onmouseout="nothighlighted(this)">
                <p>@name.Name</p>
            </div>
        }
    </div>
    <div class="rightcol">
        <h1 class="titletxt text-center">Information</h1>
        <hr />
        <div id="info" class="infobox">
            <p class="fontub text-center">Click on a task to view information</p>
        </div>
    </div>
</div>

<button type="button" class="btn-dark" data-bs-toggle="modal" data-bs-target="#modalCreate">Create A Task</button>
<button type="button" class="btn-dark" data-bs-toggle="modal" data-bs-target="#modalEdit">Edit A Task</button>
<button type="button" class="btn-dark" data-bs-toggle="modal" data-bs-target="#modalRemove">Remove A Task</button>

<!-- Modal for creation of tasks -->
<div class="modal fade fontub" id="modalCreate" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Enter Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" asp-page-handler="Create" asp-route-handler="OnPostCreate">
                    <input type="hidden" asp-for="@Model.newHazard" />
                    <div class="form-group">
                        <label asp-for="@Model.newHazard.Name">Task Name</label>
                        <textarea asp-for="@Model.newHazard.Name" id="txtname" class="form-control" rows="1" required></textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.newHazard.Steps">Steps to Complete</label>
                        <textarea asp-for="@Model.newHazard.Steps" id="txtsteps" class="form-control" rows="3" required></textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.newHazard.Consequences">Consquences of hazard</label>
                        <textarea asp-for="@Model.newHazard.Consequences" id="txtcons" class="form-control" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.newHazard.Controls">Controls</label>
                        <textarea asp-for="@Model.newHazard.Controls" id="txtcontrols" class="form-control" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.newHazard.Training">Training</label>
                        <textarea asp-for="@Model.newHazard.Training" id="txttraining" class="form-control" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.newHazard.Equipment">Required Equipment</label>
                        <textarea asp-for="@Model.newHazard.Equipment" id="txtequip" class="form-control" rows="2"></textarea>
                    </div>
                    <button type="button" onclick="clearForm()" class="btn-dark">Clear</button>
                    <input type="submit" value="Submit" class="btn-dark" />
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal for editing tasks -->
<div class="modal fade fontub" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editForm" method="post" asp-page-handler="Edit" asp-route-handler="OnPostEdit">
                    <label>Pick a Task to Edit</label>
                    <select class="newlogfield dropbox" onchange="showFields(this)">
                        <option value="">Select a Task</option>
                        @foreach (var hazard in Model.hazards)
                        {
                            <option value="@hazard.ID">@hazard.Name</option>
                        }
                    </select>
                    <br />
                    @foreach (var hazard in Model.hazards)
                    {
                        <div id="formFields_@hazard.ID" style="display: none;">
                            <input asp-for="@hazard.ID" type="hidden" name="ID" value="@hazard.ID" />
                            <div class="form-group">
                                <label>Rename</label>
                                <textarea asp-for="@hazard.Name" class="form-control" rows="1" name="name" required>@hazard.Name</textarea>
                            </div>
                            <div class="form-group">
                                <label>Steps to Complete</label>
                                <textarea asp-for="@hazard.Steps" class="form-control" rows="3" name="steps" required>@hazard.Steps</textarea>
                            </div>
                            <div class="form-group">
                                <label>Consequences of hazard</label>
                                <textarea asp-for="@hazard.Consequences" class="form-control" rows="3" name="consequences">@hazard.Consequences</textarea>
                            </div>
                            <div class="form-group">
                                <label>Controls</label>
                                <textarea asp-for="@hazard.Controls" class="form-control" rows="3" name="controls">@hazard.Controls</textarea>
                            </div>
                            <div class="form-group">
                                <label>Training</label>
                                <textarea asp-for="@hazard.Training" class="form-control" rows="3" name="training">@hazard.Training</textarea>
                            </div>
                            <div class="form-group">
                                <label>Required Equipment</label>
                                <textarea asp-for="@hazard.Equipment" class="form-control" rows="2" name="equipment">@hazard.Equipment</textarea>
                            </div>
                        </div>
                    }
                    <input type="submit" value="Submit" class="btn-dark" />
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal for removal of tasks -->
<div class="modal fade fontub" id="modalRemove" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remove Hazard</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="removeForm" method="post" asp-page-handler="Remove" asp-route-handler="OnPostRemove">
                    <label asp-for="newHazard.Name">Pick a Task to Remove</label>
                    <select class="newlogfield dropbox" asp-for="newHazard.ID">
                        <option value="">Select a Task</option>
                        @foreach (var hazard in Model.hazards)
                        {
                            <option value="@hazard.ID">@hazard.Name</option>
                        }
                    </select>
                    <br />
                    <input type="submit" value="Submit" class="btn-dark" />
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    // Function to clear the form
    function clearForm() {
        document.getElementById("txtname").value = "";
        document.getElementById("txtsteps").value = "";
        document.getElementById("txtcons").value = "";
        document.getElementById("txtcontrols").value = "";
        document.getElementById("txttraining").value = "";
        document.getElementById("txtequip").value = "";
    }

    // Used to display the information in relation to selected
    // Additionally, created to not bloat the HTML
    function displayTaskInfo(name, steps, consequences, controls, training, equipment) {
        var infoHtml = 
            "<h2 class='titletxt'>" + name + "<h2>" +
            "<h4 class='titletxt'>Steps to Complete this Task:</h4>" + steps +
            "<br /><br /><h4 class='titletxt'>Consequences:</h4>" + consequences +
            "<br /><br /> <h4 class='titletxt'>Controls to Mitigate:</h4>" + controls +
            "<br /><br /> <h4 class='titletxt'>Training:</h4>" + training +
            "<br /><br /><h4 class='titletxt'>Required Equipment:</h4>" + equipment;
        document.getElementById("info").innerHTML = infoHtml;
    }

    // Adds highlight effect when hovering over tasks
    function highlight(element) {
        element.style.background = "linear-gradient(to right, #24253B, gold, #24253B)"
        element.style.color = "black"
    }

    // Removes highlight effect when unhovering over tasks
    function nothighlighted(element) {
        element.style.background = ""
        element.style.color = ""
    }

    // Used to show data in relation to selected task when editing
    function showFields(select) {
        var selectedValue = select.value;
        var formFieldsId = "formFields_" + selectedValue;
        var formFields = document.getElementById(formFieldsId);
        var allFormFields = document.querySelectorAll('[id^="formFields_"]');

        allFormFields.forEach(function (field) {
            field.style.display = "none";
        });

        if (selectedValue !== "") {
            formFields.style.display = "block";
        }
    }
</script>